{% extends "auctions/layout.html" %}

{% block body %}

    <div class="container m-2">
        <h2>{{item.title}}</h2>
        {% if user.is_authenticated and user != item.owner %}            
                <!-- <div class="custom-control custom-switch">
                    <form action="{% url 'watchlist' %}" method="post">
                        {% csrf_token %}
                        {% if watchlisted %}
                            <input type="checkbox" class="custom-control-input"
                        id="customSwitches" value="{{item.id}}" name="watchlist"
                        checked>
                        {% else %}
                            <input type="checkbox" class="custom-control-input"
                        id="customSwitches" value="{{item.id}}" name="watchlist">
                        {% endif %}
                        <label class="custom-control-label"
                        for="customSwitches">Watchlisted</label>
                    </form> 
                </div> -->

                <form action="{% url 'watchlist' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" value="{{ item.id }}" name="watchlist" 
                        {% if watchlisted %}
                            class="btn btn-outline-danger"
                        {% else %} 
                            class="btn btn-outline-primary"
                        {% endif %}
                    >
                        {% if watchlisted %}
                            Remove from Watchlist
                        {% else %}
                            Add to Watchlist
                        {% endif %}
                    </button>
                </form> 


                
        {% endif %}
        
        {% if item.image %}
            <img src="{{item.image.url}}" alt="'{{item.title}}' listing image"
            class="my-3" style="max-width: 50vw; height:50vh">
        {% else %}
            <img src="/static/auctions/default.jpg" alt="'{{item.title}}' listing image"
        class="my-3" style="max-width: 50vw; height:50vh">    
        {% endif %}

        <p class="lead">{{item.description}}</p>

        {% if user.is_authenticated %}
            {% if item.active %}
                {% if bid_message == 1%}
                    <div class="alert alert-success" role="alert">
                        Your bid was added. Congratulations! you now have the highest bid.
                    </div>
                {% elif bid_message == 2 %}
                    <div class="alert alert-danger" role="alert">
                        You're bidding amount much be more than the current highest bid.
                    </div>
                {% endif %}
            {% endif %}
        {% endif %}

        
        <p class="my-0">Current price:  <span style="font-size: 2rem;font-weight:
        bold;">
        {% if bid.amt %}
            ${{bid.amt}}
        {% else %}
            ${{item.minPrice}}
        {% endif %}
        </span> </p>
        {% if user.is_authenticated %}
            {% if item.active %}
                
                {% if user != item.owner and user != bid.bidder %}

                    <form action="{%url 'place_bid' item.id %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="number" name="bid" placeholder="enter your bid here">
                            <button type="submit" class="btn btn-primary mb-2">Place bid</button>
                        </div>
                    </form>
                
                {% elif user == item.owner %}
                    <a href="{% url 'close_bid' item.id %}"><button class="btn
                    btn-outline-warning btn-lg mb-2">Close Bid</button></a>

                {% elif user == bid.bidder %}
                    <div class="alert alert-success" role="alert">
                        You currently are the highest bidder!
                    </div>
                    
                {% endif %}
            {% endif %}
        {% endif %}


        <ul class="list-group mt-3">
            <h5>Comments</h5>
            {% if not comments %}
            No comments yet!
            {% else %}
                {% for comment in comments %}
                <li class="list-group-item m-0" style="border: 0px solid transparent">
                    <p class="m-0">{{comment.comment}}</p>
                    <p class="m-0"><small>by {{comment.user}} <span class="text-muted">at {{comment.created_at}}</span> </small></p>
                </li>
                {% endfor %}
            {% endif %}

            {% if user != item.owner %}
                <form action="{% url 'add_comment' item.id %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group mx-2">
                        <label for="comment_new"><b>Write a comment:</b></label>
                        <textarea class="form-control" id="comment_new" name="comment" placeholder="Write your comment here..." required></textarea>
                    </div>
                    <button class="btn btn-outline-info m-2" type="submit">Submit</button>
                </form>
            {% endif %}
        </ul>
        
    </div>
{% endblock %}